body{background: repeating-linear-gradient( to right,#000000,#000000 20px, #3A5A78 20px, #3A5A78 140px); color: white; font-family: "Open-Sans", Arial, Helvetica, sans-serif;}

header{display: grid; grid-template-columns: repeat(11, 1fr); max-width: 90%; margin: 0 auto; padding-top: 30px; align-items: center;}

.links{text-decoration: none; color: white;}
header h4 :hover{color: rgb(242, 211, 173); background-color: #000000; text-decoration: underline;}

.logo{grid-column: 6/7;}

.search_logo{grid-column: 11;}

#intro{display: grid; grid-template-columns:  1fr 1fr; column-gap: 75px;}

#intro div{width: 80%; margin-top: 140px; font-size: 1.5em; padding-bottom: 400px;}
.heading{font-size: 2.5em; margin-bottom: -20px; font-family: "Montserrat", Arial, Helvetica, sans-serif;}

.main_img{padding-top: 80px; padding-left: 150px; width: 80%; height: 500px;}

#para_section{max-width: 50%; margin: 0 auto; font-size: 1.5em; padding-bottom: 300px;}
.para1{padding-bottom: 20px;}
.para2{padding-bottom: 20px;}

.piano_img{width: 600px; padding-left: 160px;}
.gaming_img{width: 600px; padding-left: 160px;}

h1{display: inline;}
.exp_p{padding-left: 360px;}
.exp_g{padding-left: 550px;}

.exp_para{display: flex; font-size: 1.5em;}
.exp_para p{width: 500px;}
.para_piano{padding-left: 220px;}
.para_game{padding-left: 280px;}

.buttons{display: grid; grid-template-columns: 1fr 1fr; font-size: 2em;}
#explore_btn_piano{margin-left: 335px; margin-right: 330px; padding-left: 75px; padding-right: 75px; background-color: bisque;}
#explore_btn_piano a{text-decoration: none; color: #000000;}
#explore_btn_piano :hover{color: rgb(242, 211, 173); background-color: #00000075; text-decoration: underline;}

#explore_btn_game{margin-left: 200px; margin-right: 300px; padding-left: 75px; padding-right: 75px; background-color: bisque;}
#explore_btn_game a{text-decoration: none; color: #000000;}
#explore_btn_game :hover{color: rgb(242, 211, 173); background-color: #00000075; text-decoration: underline;}

footer{display: grid; grid-template-columns: repeat(12, 1fr); align-items: center;}
footer p{grid-column: 6/7;}
footer h4{grid-column: 12;}
.footer_logo{padding-left: 10px; padding-bottom: 30px;}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*subpage 2 css*/
.subpage-2 {
    margin: 0 auto;
    width: 75%;
    font-family: "Open-Sans", Arial, Helvetica, sans-serif;
}
.subpage-2 h2 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.4em;
}
.subpage-2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
    gap: 30px;
    padding: 15px;
}
.subpage-2 p {
    font-size: 1.5em;
}
.cell-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.subpage-2 img {
    width: 211px;
    height: 164.6px;
}
.sub-hero img{
    width: 70%;
    height: 70%;
    text-align: center;
    margin: 30px auto;
}
.sub-hero {
    text-align: center;
}