@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*subpage 2 css*/
.subpage-2 {
    margin: 0 auto;
    width: 75%;
    font-family: "Open-Sans", Arial, Helvetica, sans-serif;
}

.subpage-2 h2 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
}